.chat {
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.chat .top {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd35;
}

.chat .top .user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chat .top .user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.chat .top .user .texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chat .top .user .texts span {
  font-size: 18px;
  font-weight: bold;
}

.chat .top .user .texts p {
  font-size: 14px;
  font-weight: 500;
  color: #a5a5a5;
}

.chat .top .icons {
  display: flex;
  gap: 20px;
}

.chat .top .icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.chat .center {
  padding: 20px;
  flex: 1;
  overflow: scroll;
  scrollbar-width: 1%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 20px;
}

.chat .center .message {
  max-width: 70%;
  display: flex;
  gap: 20px;
}

.chat .center .message.own {
  align-self: flex-end;
}

.chat .center .message.own .texts p {
  background-color: #990000;
  border-radius: 10px;
  color: white;
}

.chat .center .message img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.chat .center .message .texts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  scrollbar-width: 1%;
}

.chat .center .message .texts p {
  padding: 20px;
  background-color: #ff0000;
  border-radius: 10px;
}

.chat .center .message .texts span {
  font-size: 12px;
}

.chat .bottom {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-top: 1px solid #dddddd35;
}

.chat .bottom .icons {
  display: flex;
  gap: 20px;
}

.chat .bottom img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.chat .bottom input {
  flex: 1;
  background-color: rgba(139, 0, 0, 0.8);
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 12px;
}

.chat .bottom .emoji .picker {
  position: absolute;
  bottom: 50px;
}

.chat .bottom .sendButton {
  background-color: #ff0000;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}